@using AutoRest.TypeScript.Model
@inherits AutoRest.Core.Template<CodeModelTS>

# An isomorphic javascript sdk for - @(Model.Name)
This project provides an isomorphic javascript package. Right now it supports:
- node.js version 6.x.x or higher
- browser javascript
@EmptyLine
## How to Install
@EmptyLine
- nodejs
```
npm install @(Model.PackageName)
```
- browser
```html
@{
@:<script type="text/javascript" src="@(Model.PackageName)/dist/@(Model.BundleFilename).js"></script>
}
```
@EmptyLine
## How to use
@EmptyLine
### nodejs - Authentication, client creation and @(Model.GetSampleMethod()?.Name) @(Model.GetSampleMethodGroupName()) as an example written in TypeScript.
@EmptyLine
```ts
@(Model.GenerateReadmeMdNodeSampleCode(EmptyLine))
```
@EmptyLine
### browser - Authentication, client creation and @(Model.GetSampleMethod().Name) @(Model.GetSampleMethodGroupName()) as an example written in javascript.
@EmptyLine
- index.html
```html
@{
@:<!DOCTYPE html>
@:<html lang="en">
@:  <head>
@:    <title>@(Model.PackageName) sample</title>
@:    <script src="node_modules/ms-rest-js/dist/msRest.browser.js"></script>
@:    <script src="node_modules/ms-rest-browserauth/dist/msAuth.js"></script>
@:    <script src="node_modules/@(Model.PackageName)/dist/@(Model.BundleFilename).js"></script>
@:    <script type="text/javascript">
@:      @Model.GenerateReadmeMdBrowserSampleCode(EmptyLine)
@:    </script>
@:  </head>
@:  <body>
@:  </body>
@:</html>
}
```
@EmptyLine
# Related projects
 - [Microsoft Azure SDK for Javascript](https://github.com/Azure/azure-sdk-for-js)
