@using AutoRest.TypeScript.Azure.Model
@inherits AutoRest.Core.Template<CodeModelTSa>

# Azure @(Model.Name) SDK for JavaScript
@if (Model.Settings.MultiapiLatest)
{
@:This package provides the **latest API version (@(Model.Settings.ApiVersions[0]))** of @(Model.Name).
}
else if (Model.Settings.Multiapi)
{
@:This package contains **API version @(Model.Settings.ApiVersion)** of @(Model.Name).
@EmptyLine

@:For other API versions, see https://npmjs.com/@(Model.Settings.PackageName).
}
else
{
@:This package contains an isomorphic SDK for @(Model.Name).
}
@EmptyLine

## Currently supported environments
- Node.js version 6.x.x or higher
- Browser JavaScript
@EmptyLine

## How to Install
```
npm install @(Model.PackageName)
```
@EmptyLine
@if (Model.Settings.MultiapiLatest)
{
@:## Available API versions
@:| API version | NPM package | Latest |
@:| - | - | - |
bool first = true;
@foreach (string apiVersion in Model.Settings.ApiVersions)
{
@:| @(apiVersion) | https://npmjs.com/@(Model.Settings.PackageName)-@(apiVersion) | @(first ? "✔️" : "") |
first = false;
}
}
@EmptyLine

## How to use
@EmptyLine

### nodejs - Authentication, client creation and @(Model.GetSampleMethod()?.Name) @(Model.GetSampleMethodGroupName()) as an example written in TypeScript.
@EmptyLine

```ts
@(Model.GenerateReadmeMdNodeSampleCode(EmptyLine))
```
@EmptyLine

### browser - Authentication, client creation and @(Model.GetSampleMethod().Name) @(Model.GetSampleMethodGroupName()) as an example written in JavaScript.
See https://github.com/Azure/ms-rest-browserauth to learn how to authenticate to Azure in the browser.
@EmptyLine

- index.html
```html
@{
@:<!DOCTYPE html>
@:<html lang="en">
@:  <head>
@:    <title>@(Model.PackageName) sample</title>
@:    <script src="node_modules/ms-rest-js/dist/msRest.browser.js"></script>
@:    <script src="node_modules/ms-rest-azure-js/dist/msRestAzure.js"></script>
@:    <script src="node_modules/ms-rest-browserauth/dist/msAuth.js"></script>
@:    <script src="node_modules/@(Model.PackageName)/dist/@(Model.BundleFilename).js"></script>
@:    <script>
@:      const subscriptionId = "<Subscription_Id>";
@:      const authManager = new msAuth.AuthManager({
@:        clientId: "<client id for your Azure AD app>",
@:        tenant: "<optional tenant for your organization>"
@:      });
@:
@:      authManager.finalizeLogin().then((res) => {
@:        if (!res.isLoggedIn) {
@:          // may cause redirects
@:          authManager.login();
@:        }
@:
@:        const client = new @(Model.BundleVarName).@(Model.Name)(res.creds, subscriptionId);
@:        @(Model.GenerateSampleMethod(true)).catch((err) => {
@:          console.log('An error occurred:');
@:          console.error(err);
@:        });
@:      });
@:    </script>
@:  </head>
@:  <body>
@:  </body>
@:</html>
}
```
@EmptyLine

# Related projects
 - [Microsoft Azure SDK for Javascript](https://github.com/Azure/azure-sdk-for-js)
