@using AutoRest.Core.Utilities
@using AutoRest.TypeScript.Azure.Model
@inherits AutoRest.Core.Template<CodeModelTSa>

# Azure @(Model.Name) SDK for JavaScript
@if (Model.Settings.MultiapiLatest)
{
@:This package provides the **latest API version (@(Model.Settings.ApiVersions[0]))** of @(Model.Name).
}
else if (Model.Settings.Multiapi)
{
@:This package contains **API version @(Model.Settings.ApiVersion)** of @(Model.Name).
@EmptyLine

@:For other API versions, see https://npmjs.com/@(Model.Settings.PackageName).
}
else
{
@:This package contains an isomorphic SDK for @(Model.Name).
}
@EmptyLine

## Currently supported environments
- Node.js version 6.x.x or higher
- Browser JavaScript
@EmptyLine

## How to Install
```
npm install @(Model.PackageName)
```
@EmptyLine
@if (Model.Settings.MultiapiLatest)
{
@:## Available API versions
@:| API version | NPM package | Latest |
@:| - | - | - |
bool first = true;
@foreach (string apiVersion in Model.Settings.ApiVersions)
{
@:| @(apiVersion) | https://npmjs.com/@(Model.Settings.PackageName)-@(apiVersion) | @(first ? "✔️" : "") |
first = false;
}
}
@EmptyLine

## How to use
@EmptyLine

### nodejs - Authentication, client creation and @(Model.GetSampleMethod()?.Name) @(Model.GetSampleMethodGroupName()) as an example written in TypeScript.
@EmptyLine

```ts
import * as msRest from "ms-rest-js";
import * as msRestAzure from "ms-rest-azure-js";
import * as msRestNodeAuth from "ms-rest-nodeauth";
import { @(Model.Name), @(Model.ClientPrefix)Models, @(Model.ClientPrefix)Mappers } from "@(Model.PackageName)";
const subscriptionId = process.env["AZURE_SUBSCRIPTION_ID"];
@EmptyLine
msRestNodeAuth.interactiveLogin().then((creds) => {
  const client = new @(Model.Name)(creds, subscriptionId);
  @(Model.GenerateSampleMethod())
}).catch((err) => {
  console.error(err);
});
```
@EmptyLine

### browser - Authentication, client creation and @(Model.GetSampleMethod().Name) @(Model.GetSampleMethodGroupName()) as an example written in JavaScript.
@EmptyLine

- index.html
```html
@{
@:<!DOCTYPE html>
@:<html lang="en">
@:  <head>
@:    <title>@(Model.PackageName) sample</title>
@:    <script src="node_modules/ms-rest-js/master/msRestBundle.js"></script>
@:    <script src="node_modules/ms-rest-azure-js/master/msRestAzureBundle.js"></script>
@:    <script src="node_modules/@(Model.PackageName)/@(Model.Name.ToCamelCase())Bundle.js"></script>
@:    <script>
@:      const subscriptionId = "<Subscription_Id>";
@:      const token = "<access_token>";
@:      const creds = new msRest.TokenCredentials(token);
@:      const client = new @(Model.Name)(creds, undefined, subscriptionId);
@:      @(Model.GenerateSampleMethod(true)).catch((err) => {
@:        console.log('An error ocurred:');
@:        console.error(err);
@:      });
@:    </script>
@:  </head>
@:  <body>
@:  </body>
@:</html>
}
```
@EmptyLine

# Related projects
 - [Microsoft Azure SDK for Javascript](https://github.com/Azure/azure-sdk-for-js)
